html {
    background-color: black;
    color: rgb(200, 200, 200);
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  main {
    display: block;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: rgba(25, 25, 25, 0.9);
    border-radius: 15px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  #img-div {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #image {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 3px;
  }
  
  #img-caption {
    margin-top: 10px;
  }
  
  #img-caption, #tribute-info {
    text-align: left;
    line-height: 25px;
  }
  
  #tribute-info {
    padding: 10px;
  }
  
  li {
    margin: 30px;
  }
  
  footer {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
  }
  
  #tribute-link {
    color: rgb(200, 200, 200);
  }
