* {
    border: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #e5f2c9;
    scroll-behavior: smooth;
}

html {
    background-color: #1f0318;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}

.navbar {
    font-family: 'Noto Sans Mono', monospace;
    padding: 25px;
    margin-top: 30px;
    background-color: rgba(51, 30, 47, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    position: fixed;
    width: 90%;
    z-index: 999;
    transition: background-color .5s;
}

.navbar:hover {
    background-color: rgba(51, 30, 47, 0.99);
    transition: background-color .3s;
}

.navlink {
    transition: text-shadow .5s;
}

.navlink:hover {
    font-weight: bold;
    text-shadow: 0 0 20px rgba(229, 242, 201, 0.5);
    transition: text-shadow .3s;
}

.logo {
    font-size: 2em;
    font-weight: 700;
}

.nav-links {
    display: flex;
}

.link {
    margin: 20px;
}

.hamburger {
    display: none;
    width: 35px;
    z-index: 999;
}

.container {
    padding: 0 25vw 30vh 20vw;
}

h1 {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: bold;
    font-size: 56px;
    padding: 50px 0;
    padding-top: 30vh;
}

h2 {
    font-size: 28px;
    padding: 10px 30px 10px 20px;
    line-height: 40px;
}

.out {
    transition: text-shadow .5s;
}

.out:hover {
    text-decoration: underline;
    text-shadow: 0 0 20px rgba(229, 242, 201, 0.2);
    transition: text-shadow .3s;
}

span {
    font-size: 16px;
    font-weight: lighter;
}

h3 {
    font-size: 22px;
    padding: 20px 0 10px 0;
}

h4 {
    font-size: 16px;
    font-weight: lighter;
    padding-left: 20px;
}

h5 {
    font-size: 18px;
    padding: 5px 0 5px 0;
}

h6 {
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1.25px;
    line-height: 18px;
    padding: 10px 0 10px 0;
}


@media screen and (max-width: 768px) {
    .navbar {
        padding: 0;
        justify-content: center;
    }

    .logo {
        padding: 20px;
    }

    .nav-links {
        display: none;
    }

    .container {
        padding: 0 10vw 30vh 10vw;
    }
}